/* Tablet view */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    /* Header */
    .header .navbar .navbar-toggler .navbar-toggler-icon .fa {
        font-size: 28px;
        color: #fff;
    }

    .header .navbar .collapse.navbar-collapse {
        overflow-y: hidden;
        transition: all 1.5s !important;
        max-width: 0;
        max-height: 0;
    }

    .header .navbar .collapse.navbar-collapse.active {
        display: flex;
        flex-direction: column;
        background: rgb(62 62 62);
        max-width: 250px;
        width: 250px;
        max-height: 5000px;
        transition: all 1.5s;
        align-items: end;
        right: 0;
        position: fixed;
        bottom: 0;
        top: 0;
        z-index: 9999999;

    }

    .header .navbar .collapse.navbar-collapse.active .header-colleps-main {
       display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        background: rgb(62 62 62 / 42%);
        right: 250px;
        left: 0;
        width: calc(100% - 250px);
    }

    .header .navbar .collapse.navbar-collapse.active .user-profile-view {
        padding: 15px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .user-profile-view .profile-data {
        display: flex;
        align-items: center
    }

    .user-profile-view .profile-data img {
        width: 50px;
        object-fit: contain;
    }

    .user-profile-view .profile-data span {
        font-size: 22px;
        color: #9EDC19 !important;
        font-weight: 500;
        margin-left: 15px;

    }

    .header .navbar .collapse .form-inline {
        display: none;
    }

    .header .navbar .collapse .navbar-nav {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .header .navbar .collapse .navbar-nav .nav-item {
        position: relative;
        width: 100%;
        padding: 4px 20px;
        background: #252424;
        border-bottom: 1px solid #8a8a8a;

    }

    .header .navbar .collapse .navbar-nav .nav-item .nav-link {
        color: #9EDC19 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }



    .header .navbar .collapse .navbar-nav .dropdown .dropdown-menu {
        background: #252424;
        border: 0;
        max-height: 0;
        padding: 0;
        transition: all 0.5s;
        display: none;
    }

    .header .navbar .collapse .navbar-nav .dropdown.active-colleps .dropdown-menu {
        padding: 10px 0;
        max-height: 5000px;
        display: block;
        transition: all 0.5s;
    }

    .header .navbar .collapse .navbar-nav .nav-item .nav-link .fa {
        display: block;
        font-size: 20px;

    }

    .header .navbar .collapse .navbar-nav .dropdown.active-colleps .nav-link .fa {
        transform: rotate(180deg);
    }

    .header .navbar .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item {
        color: #9EDC19 !important;
    }

    .header .navbar .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
        background: #252424;
    }


    /* icons_sec */
    .icons_sec {
        padding: 10px 0;
    }

    .icons_sec .tool_icon li {
        padding: 0 10px;
    }

    .icons_sec .tool_icon .link .title {
        display: none;
    }

    .icons_sec .tool_icon .link .icon {
        margin: 0;
    }

    .icons_sec .tool_icon .link .icon img {
        width: 22px;
    }

    /* back_end */
    .back_end {
        max-height: 115px;
        padding: 20px 0;
    }

    .project_head h1 {
        font-size: 30px;
    }

    .back_end .navbar {
        display: none;
    }

    /* Home page*/
    /* ---banner_sec--- */
    .banner_sec .container-fluid {
        padding: 65px 15px 0;
    }

    .cb-slideshow,
    .cb-slideshow:after {
        height: 50vh;
    }

    .banner_text .pink_text {
        font-size: 30px;
    }

    .banner_text p {
        font-size: 14px;
    }

    .blackBackground {
        max-width: 415px;
    }

    .deal_box {
        border-left: none;
    }

    .deal_box h5 {
        text-align: center;
    }

    .deal_box p {
        text-align: center;
    }

    /* ---work_sec--- */
    .work_sec .white_text.text-center {
        font-size: 1.2rem;
        margin-bottom: 20px !important;
        margin-left: 85px;
    }

    /* ----our_sec--- */
    .our_sec {
        padding: 30px 0 30px;
    }

    .our_sec .simplan_text {
        padding-bottom: 25px;
    }

    .our_sec .simplan_text h2 {
        font-size: 26px;
    }

    .our_sec .media .media-left {
        margin-right: 15px;
    }

    .our_sec .media.google .media-body div {
        flex-direction: column;
    }

    /* Preoject */
    .bcknd_container .right_card {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .bcknd_container .right_bar {
        display: none;
    }
}